@use 'variables';
@use 'mixins';

* {
    @include mixins.container;

}

body {
    background-color: variables.$bg-color1 ;
    a{
        color: variables.$social-color;
        text-decoration: none;
        transition: .4s;
    
    }

    ul{

        list-style: none
    }

    h3 {
        font-size: .8em;
        text-shadow: 1px 1px 1px #ffff;
        font-weight: 300;
        color: variables.$primary-color;
    }
}
.header{

    @include mixins.head;

    &-social-media{

        ul{
            @include mixins.social;
            height: 100%;

            li{
                margin: 0 1rem;
                
                 a{
                    &:hover{
                        color: variables.$social-color-hover;
                    }
                 }
            }
        }
    }
}
main{
    @include mixins.flex;

}
#calc {

    @include mixins.calc;


    &-operations {
        text-align: right;
    }

    &-previous-operation,
    &-current-operation {
        min-height: 1.6em;
        padding: .2em;
        overflow-wrap: break-word;
    }

    &-previous-operation {
        color: variables.$tertiary-color;
    }

    &-current-operation {
        font-size: 3em;
        font-weight: 700;
    }

}

#buttons-conteiner {
    @include mixins.buttons-conteiner;

    button{
        @include mixins.buttons;
         &:hover{
            background-color: #bababa;
            border-color: #9999
         }
    }
    .number{
        @include mixins.number;
    }
    #equal-btn{
        grid-column: span 2;
        background-color: #75a5cb;
        &:hover{
            background-color: #3a91d8;
        }
    }
   
}